@page
@model AdminWebCore.Pages.VehicleEditModel
@{
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="row">

            <div class="col-sm-12">
                <form class="form-horizontal" method="post" enctype="multipart/form-data">
                  
                    <div class="card">
                        <div class="card-header">
                            <strong>Vehicle</strong>
                            <small> Edit</small>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label for="IDs">ID</label>
                                        <input id ="IDs"class="form-control" value="@Model.vehicleModels.ID" type="text" placeholder="Enter Details" disabled>
                                        <input class="form-control" id="ID" name="ID" value="@Model.vehicleModels.ID" type="text" placeholder="Enter Details" hidden>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="Vehicle">Vehicle</label>
                                        <input class="form-control" id="Vehicle" value="@Model.vehicleModels.Vehicle" name="Vehicle" type="text" placeholder="Enter Vehicle Details">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label class="col-form-label" for="date-input">Vehicle ExpDate</label>
                                    <input class="form-control" id="date-input" type="date" asp-for='@Model.vehicleModels.VehicleExpDate' name="VehicleExpDate" placeholder="date">
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="PalteNo">PalteNo</label>
                                        <input class="form-control" id="PalteNo" name="plateNo" value="@Model.vehicleModels.plateNo" type="text" placeholder="Enter plateNo Details">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label class="col-form-label" for="date-input">Insurance ExpDate</label>
                                    <input class="form-control" id="date-input" type="date" asp-for='@Model.vehicleModels.InsuranceExpDate' name="InsuranceExpDate" placeholder="date">
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Model">Model</label>
                                        <input class="form-control" id="Model" name="Model" type="text" value="@Model.vehicleModels.Model" placeholder="Enter Model Details">
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="Type">Type</label>
                                        <div class="input-group-prepend">
                                            <select id="Type" class="form-select" name="Type" aria-label="Default Type">
                                               
                                                if (0 == int.Parse(@Model.vehicleModels.Type))
                                                {
                                               
                                                <option selected value="0">None</option>
                                                }
                                                else
                                                {
                                                <option value="0">None</option>
                                                }

                                                @foreach (var wm in Model.Type)
                                                {

                                                    

                                                    if (wm.id == int.Parse(@Model.vehicleModels.Type))
                                                    {
                                                        <option selected value="@wm.id">@wm.MasterName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@wm.id">@wm.MasterName</option>
                                                    }

                                                    
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="AuthorizationID">Authorization</label>
                                        <div class="input-group-prepend">
                                            <select id="AuthorizationID" class="form-select" name="EMPID" aria-label="Default Type">
                                                
                                                if (0 == int.Parse(@Model.vehicleModels.EMPID))
                                                {

                                                <option selected value="0">None</option>
                                                }
                                                else
                                                {
                                                <option value="0">None</option>
                                                }

                                                @foreach (var wm in Model.EMPID)
                                                {
                                                    if (wm.id == int.Parse(@Model.vehicleModels.EMPID))
                                                    {
                                                        <option selected value="@wm.id">@wm.MasterName</option>
                                                    }
                                                    else
                                                    {
                                                        <option value="@wm.id">@wm.MasterName</option>
                                                    }
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <label class="col-form-label" for="date-input">Authorization ExpDate</label>
                                    <input class="form-control" id="date-input" type="date" asp-for='@Model.vehicleModels.AuthorizationExpDate' name="AuthorizationExpDate" placeholder="date">
                                </div>

                                <div id="tblFiles" class="col-sm-6">
                                    @Html.AntiForgeryToken()
                                    <input type="checkbox" id="isUpdate" name="isUpdate" value="true" onclick="document.getElementById('formFileSm').disabled =!this.checked;" />
                                    <label for="formFileSm" class="form-label">Attachment File</label>
                                    <input class="form-control form-control-sm" name="PDFFile" id="formFileSm" type="file" asp-for="PDFFile" disabled>
                                    <a class="view" href="javascript:;" rel='@Model.vehicleModels.ID' doc="1">View PDF</a>
                                </div>

                                
                            </div>
                            <div class="col-sm-12">
                                <embed width="100%" height="100%" src="@Model.vehicleModels.PDFFile" />
                            </div>
                            <div class="col-sm-12" id="pdf_container"> </div>
                            
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-sm btn-primary" type="submit" asp-page-handler="Submit">
                                <i class="fa fa-dot-circle-o"></i> Submit
                            </button>
                            <button class="btn btn-sm btn-danger" type="reset">
                                <i class="fa fa-ban"></i> Reset
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf_viewer.min.css" rel="stylesheet" type="text/css" />

 <script type="text/javascript">
   $(function () {
     
       $("[id*=tblFiles] .view").click(function () {

            let linkposturl = '';
            var RootUrl = '@Url.Content("~/")';

            //     if (@Request.IsHttps == 'True')
            // {
            //     linkposturl = 'https://' + '@Request.Host' + '@Request.Path' + '?Handler=GetPDF';
            // }
            //     else
            // {
            //     linkposturl = 'http://' + '@Request.Host' + '@Request.Path' + '?Handler=GetPDF';
            // }
            linkposturl = RootUrl + 'VehicleEdit?Handler=GetPDF';

            var data = {};
            data.fileId = 2;
            var fileId = $(this).attr("rel");
            var doc = $(this).attr("doc");
            $.ajax({
            type: "POST",
            url:  linkposturl ,
            beforeSend: function (xhr) {
            xhr.setRequestHeader("XSRF-TOKEN",
            $('input:hidden[name="__RequestVerificationToken"]').val());
            },
            data: { "fileId": fileId , "doc": 1},
            success: function (r) {
            //Convert Base64 string to Byte Array.
                   
            var bytes = Base64ToBytes(r.data);

            LoadPdfFromBlob(bytes);
                }
            });
        });
    });


    var pdfjsLib = window['pdfjs-dist/build/pdf'];
    pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.min.js';
    var pdfDoc = null;
    var scale = 1; //Set Scale for zooming PDF.
    var resolution = 1; //Set Resolution to Adjust PDF clarity.

    function LoadPdfFromBlob(blob) {
        //Read PDF from BLOB.
        pdfjsLib.getDocument({ data: blob }).promise.then(function (pdfDoc_) {
            pdfDoc = pdfDoc_;

            //Reference the Container DIV.
            var pdf_container = document.getElementById("pdf_container");
            pdf_container.innerHTML = "";
            pdf_container.style.display = "block";

            //Loop and render all pages.
            for (var i = 1; i <= pdfDoc.numPages; i++) {
                RenderPage(pdf_container, i);
            }
        });
    };
    function RenderPage(pdf_container, num) {
        pdfDoc.getPage(num).then(function (page) {
            //Create Canvas element and append to the Container DIV.
            var canvas = document.createElement('canvas');
            canvas.id = 'pdf-' + num;
            ctx = canvas.getContext('2d');
            pdf_container.appendChild(canvas);

            //Create and add empty DIV to add SPACE between pages.
            var spacer = document.createElement("div");
            spacer.style.height = "20px";
            pdf_container.appendChild(spacer);

            //Set the Canvas dimensions using ViewPort and Scale.
            var viewport = page.getViewport({ scale: scale });
            canvas.height = resolution * viewport.height;
            canvas.width = resolution * viewport.width;

            //Render the PDF page.
            var renderContext = {
                canvasContext: ctx,
                viewport: viewport,
                transform: [resolution, 0, 0, resolution, 0, 0]
            };

            page.render(renderContext);
        });
    };

    function Base64ToBytes(base64) {

        var s = window.atob(base64);
       
        var bytes = new Uint8Array(s.length);

        for (var i = 0; i < s.length; i++) {
            bytes[i] = s.charCodeAt(i);
        }
       
        return bytes;
    };
</script>
     